<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.here.geoviz.${target}">

    <uses-sdk android:minSdkVersion="@ANDROID_SDK_VERSION@" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:label="${target}" android:debuggable="true">
        <uses-library android:name="android.test.runner" />
    </application>

    <instrumentation android:name="com.here.geoviz.${target}.Launcher"
        android:targetPackage="com.here.geoviz.${target}"
        android:label="Unittests geoviz">
    </instrumentation>

</manifest>
